    </main>
    <% var year = new Date().getFullYear() %>
    <footer class="fixed bottom-0 w-full bg-gray-100 text-center py-2 shadow-md">
        <p>Copyright Pencea Vlad-Alexandru <%= year %>©</p>
    </footer>
</body>
</html>